:root {
  --color-primary: #3e3e3e;
  --color-menu: #868686;
  --color-heading: #f34910;
  --color-text-primary: #595959;
  --color-text-secondary: #515151;
  --color-bg-secondary: #f8f8f8;
  /* --color-card-bg: rgba(241, 241, 241, 0.3); */
  --color-card-bg: rgba(59, 62, 69, 0.6);
  --color-black-tile: #000;
  --color-subtext: #f78c89;
  --color-logo-bg: #414246;
  --color-logo: #8f8f91;
}

/* css resets */
/* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

* {
  font-family: "Lato", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.flex-centered {
  display: flex;
  justify-content: center;
}
.flex-center-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gap-1 {
  gap: 10%;
}

.gap-2 {
  gap: 20%;
}

.gap-3 {
  gap: 30%;
}

.gap-4 {
  gap: 40%;
}

.gap-5 {
  gap: 50%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

body {
  max-width: 375px;
  margin: 0 auto;
}

.top-nav {
  display: none;
}

.bottom-nav .menu-container,
.bottom-nav .cc-container {
  display: none;
}

.mobile-menu {
  position: absolute;
  left: 1rem;
  top: 1rem;
  margin-left: 0px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/* style the hero of the main section */

main .hero {
  width: auto;
  height: fit-content;
  height: auto;
  background-image: url("../images/about/heor-bg-mobile.svg");
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  padding-bottom: 14%;
}

.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.hero-image h1 {
  margin-top: 5%;
  font-weight: 900;
  font-size: 28px;
  color: var(--color-heading);
  text-align: center;
}

.hero-image p {
  color: var(--color-heading);
  font-size: 20px;
}
